[defaults]
# disable the ugly warning at startup
interpreter_python=auto_silent

# (pathlist) Comma-separated list of Ansible inventory sources
inventory=./hosts.yml

# Dump used times on tasks
# callbacks_enabled= ansible.posix.profile_tasks
# stdout_callback = community.general.unixy
display_skipped_hosts   = False

vault_password_file = ./secrets.pass
